
{% extends 'navbar.html' %}

{% block title %}
<title>Add a new player here</title>
{% endblock %}

{% block content %}
<div class='form'>
    <h1>Add a Player here</h1>
    <br>
    <form method='POST' action=''>
        <!--The hidden tag here is necessary for CSRF protection (always include in forms)-->
        {{ form.hidden_tag() }}

        {{ form.player_name.label }}
        {{ form.player_name }}
        {{ form.football_team_name.label }}
        {{ form.football_team_name }}
        <!--Here, we want our page to display any errors raised. The if statement checks if a ValidationError object exists and if so, present the message-->
        {% if form.player_name.errors %}
        <div class='error'>
            {% for error in form.player_name.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}

