{% extends 'navbar.html' %}

{% block title %}
<title>Edit Football Team Name</title>
{% endblock %}

{% block content %}
<h2> Enter the new football team name for {{ edit_one_football_team.football_team_name }} </h2> 
<br>
<div>
    <form action ="{{ url_for('edit_football_team', football_team_name = edit_one_football_team.football_team_name) }}" method='POST'>
        {{ form.hidden_tag() }}
        {{ form.football_team_name.label }}
        {{ form.football_team_name}}
        <br>
        {{ form.submit }}
    </form> 
</div>
{% endblock %}